{% extends '_layouts/base.njk' %}

{% block page_title %}Captain McGillicutty's Blog{% endblock %}

{% block content %}

<div class="container offset-md-3 offset-lg-3">
  <div class="row">
    <div class="col">
    <h1>A Pirate's Life for Me</h1>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-12 col-md-9 col-lg-6">
      <p>
        Ahoy Mateys! <a href="detail-page.html">link to detail-page.html</a> This here be me pirate blog. An account of me journeys and travels across the great ocean blue. I been pirating since I was 2 years old after my father Grit McGillicutty brought me in as first mate on his ship. It was quite a time and since then I got me own ship. Hope all you scallywags enjoy all me tales!
      </p>
      {% for entry in data.entries %}
        <h3 class="entry-headline"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
        <p class="entry-date">{{ entry.date }}</p>
        <hr>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
